@import "./CategoryMoviesPage.css";

.category-tabs-movie {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 15px;
  margin: 0 auto 50px;
  max-width: 1300px;
}

.category-tab-movie {
  background: rgba(255, 255, 255, 0.05);
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 12px;
  padding: 20px;
  cursor: pointer;
  transition: all 0.3s ease;
  text-align: left;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.category-tab-movie:hover {
  background: rgba(255, 255, 255, 0.08);
  border: 1px solid rgba(26, 213, 9, 0.826);
  transform: translateY(-2px);
}

.category-tab-movie.active {
  background: rgba(9, 229, 16, 0.15);
  border-color: #09e518;
  box-shadow: 0 8px 25px rgba(35, 229, 9, 0.3);
}


.category-label {
  font-size: 16px;
  font-weight: 600;
}

.category-description {
  font-size: 13px;
  opacity: 0.8;
}

/* Responsive */
@media (max-width: 768px) {
  .category-tabs {
    flex-direction: column;
    align-items: stretch;
    gap: 12px;
  }

  .category-tab {
    min-width: unset;
    flex: none;
    width: 100%;
  }

  .category-label {
    font-size: 15px;
  }

  .category-description {
    font-size: 12px;
  }
}
